.layout{

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;

}

#d1{
     grid-column: span 2;
     margin-bottom: 4%;
    
}

p{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 2rem;
}

#d2{
     border:  0.1rem solid #85290a;
     margin-right: 3%;

}

#d3{
    border: 0.1rem solid #85290a;
    margin-left: 3%;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2 rem;
    color:#85290a;
    text-align: center;
    padding: 3%;
    
}

form{
    margin-left: 5%;       
    align-items: center;     
    max-width: 60%;        
    margin: 10% auto;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 30%;
}



input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #85290a;                    
  box-shadow: 0 0 0.3rem #85290a; 
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  
}

input[type="button"] {
    margin: 5%;
   
}

